.header {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
}

#navBar {
    display: flex;
width: 50%;
justify-content: space-around;
list-style: none;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#about-me {
    display: flex;
   
}
#about-me-description {
    display: flex;
     padding: 5px;
    flex:70%;
    
}
#about-me-description img {
    border-radius: 5%;
    box-shadow: 2px 2px 2px lightgrey;
}
#about-me-description p {
   margin: 5px;
}
.project-img {
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightgrey;  
    opacity: .6;
    position: relative;
}
#about-me-img {
    flex:30%;
    border: 2px solid  black;
}